<div id="about-me">
    <div class="page-white">
        <h1>About Me</h1>
        <mat-divider style="background-color: rgba(255,255,255, 0.2); margin: .5rem 0 1rem;"></mat-divider>
        <img class="img" src="/assets/img/no-photo.png" alt="Picture of Me">
        <p>My love of computer science begins deep in my childhood.  Ever since I was a child, I was fascinated with computer systems.  Around the age of 8, my father was working on learning HTML, as well as obtaining his A+ certification.  Due to my similar interest in computers, my father taught me the concepts he was learning.  Thus beginning my foray into the realm of computer science. In May of 2019 I graduated from Allegheny College with a degree in Computer Science.  At this point, I had furthered my knowledge of software development immensely.  Not just in terms of web development, but also in the fields of artifical intelligence, robotics, game development, bio-informatics, and software engineering.  For more information on specific projects, check out the projects tab.</p>
    </div>
</div>
