<div id="home">
    <div class="page-white space-below">
        <h1>Hello, I am Tyler Lyle.</h1>
        <p>I have a passion for developing software and web apps!</p>
        <button mat-stroked-button routerLink="/about-me">Learn More</button>
        <a mat-stroked-button color="primary" href="mailto:{{email.value}}">Send An Email</a>
    </div>

    <div class="row">
        <div class="page-white item1">
            <h1>Engineering.</h1>
            <p>As a recent recipient of a Baccalaureate of Science degree from Allegheny College, I have furthered my knowledge in the feild of Computer Science. Specifically, my focus was regarding the Development and Engineering of Software.</p>
        </div>
    
        <div class="page-white item2">
            <h1>Versatility.</h1>
            <p>Covering prevelant and pioneering topics, I have academic experience ranging from Web Development to recent developments in Artifical Intelligence such as Neural Networks.  Check out some of my projects <a href="/projects">here.</a></p>
        </div>
    </div>
</div>
