#home {
    padding: 50px 0 10px 0;

    .mat-stroked-button {
        margin-right: .5rem;
    }

    .row {
        display: flex;
        justify-content: space-between;

        .item1 {
            width: 50%;
            margin-right: .25rem;
        }
        .item2 {
            width: 50%;
            margin-left: .25rem;
        }
    }

    .page-white {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #home {
        .row {
            display: flex;
            flex-direction: column;

            .item1 {
                width: unset;
                margin-right: unset;
                margin-bottom: 1rem;
            }
            .item2 {
                width: unset;
                margin-left: unset;
            }
        }
    }
}