#projects {
    padding: 50px 0 10px 0;

    h1 {
        margin: .25rem 0;
    }
    p {
        margin: 0;
    }
    a {
        color: black;
    }
    .language-icon {
        color: #3a3a3a;
    }
}